.Cards
{
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.main-card:hover{
    transform: scale(1.05);
}

.main-card-image{
   width: 100%;       /* Full width */
  height: 200px;      /* Fixed height */
  border-radius: 15px; /* Rounded corners */
  object-fit: cover;  /* Ensures the image covers the area without distortion */
  margin: 0 auto;     /* Centers the image horizontally */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
}

.main-card-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 0.5rem;
    color: #333;
}
.main-card-price {
  font-size: 1rem;
  color: #666;
  margin-top: 0.25rem;
}

.main-card-category {
  font-size: 0.9rem;
  color: #999;
  margin-top: 0.25rem;
}

