.CircularCard{
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.category-card:hover{
    transform: scale(1.05);
}

.category-card-image{
  width: 150px;       /* Fixed width */
  height: 150px;      /* Fixed height */
   /* Makes the image a perfect circle */
  object-fit: cover;  /* Ensures the image covers the area without distortion */
  margin: 0 auto;     /* Centers the image horizontally */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
}

.category-card-title {
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 0.5rem;
}